/* FLEX */

.flex-column {
	display: flex;
	flex-direction: column;
}

/* NAVBAR */

.app-logo {
	animation: app-logo-spin infinite 20s linear;
	height: 60px;
}

@keyframes app-logo-spin {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}

/* NEWS LIST ITEM */

#news-card {
	height: 200px;
	margin-left: 0.1px;
	margin-right: 0.1px;
}

#publication-paragraph {
	position: absolute;
	bottom: 0; 
}

#article-img {
	padding-top: 5%;
	padding-bottom: 5%;
}